$color-background-first: #ffffff;
$color-background-second: #51c277;
$color-accent: #61e78d;
$color-text-first: #000000;
$color-text-second: #231f20;


$mobile-width: 320px;
$tablet-width: 768px;
$desktop-width: 1200px;

$mobile-width-only: 767px;
