$color-background-first: #ffdd99;
$color-background-second: #f3ae3e;
$color-accent: #ffc15b;
$color-text-first: #000000;
$color-text-second: #444444;

$mobile-width: 320px;
$tablet-width: 768px;
$desktop-width: 1200px;

$mobile-width-only: 767px;
