@use "../../common/forwarded.scss" as f;

.nav-list {
  @include f.list-reset;
  margin: 0;
}

.nav-list__button {
  @include f.link-reset;
  width: 100vw;
  display: block;
  min-height: 48px;
  padding-top: 11px;
  padding-bottom: 11px;
  margin-left: auto;
  text-align: center;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 20px;
  line-height: 25px;
  background-color: f.$color-background-second;
  border-bottom: 1px solid f.$color-text-first;
  box-sizing: border-box;
}

.nav-list__item:last-child {
  .nav-list__button {
    border-radius: 0 0 12px 12px;
  }
}

@media (min-width: f.$tablet-width) {
  .nav-list__button {
    display: inline;
    width: auto;
    background-color: transparent;
    border-bottom: none;
  }

  .nav-list__item:last-child {
    .nav-list__button {
      border-radius: 0;
    }
  }

  .nav-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 40px
  }

  .nav-list__item {
    margin-bottom: 0;

    &--right {
      margin-left: auto;
    }

    .nav-list__button--enter {
      background-color: f.$color-background-second;
      padding: 11px 6px;
      border-radius: 8px !important;
    }
  }
}

@media (min-width: f.$desktop-width) {
  .nav-list {
    gap: 60px
  }
}
