@use "global.scss";

// Header
@use "./blocks/header/main-header.scss";
@use "./blocks/header/main-nav.scss";
@use "./blocks/header/nav-list.scss";

// Main
@use "./blocks/main/title.scss";
@use "./blocks/main/feedback.scss";
@use "./blocks/main/news";

//Footer
@use "./blocks/footer/main-footer.scss";
@use "./blocks/footer/contact-list.scss";


//Login
@use "blocks/login/page__login";
@use "blocks/login/login";
@use "blocks/login/form";

//Reg
@use "blocks/login/control";

//Adnin
@use "blocks/admin/admin.scss";
@use "blocks/admin/new-post.scss";

@font-face {
  font-family: "Georgia";
  src: url("../fonts/georgia.woff2") format("woff2"), url("../fonts/georgia.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Georgia";
  src: url("../fonts/georgia-bold.woff2") format("woff2"), url("../fonts/georgia-bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
