@use "./common/forwarded.scss" as f;

.new-post__form {
  width: 100%;
}

.new-post__input {
  padding: 10px 16px;
  border-radius: 6px;

  &--message {
    resize: none;
    min-height: 300px;
  }

  &--image {
    padding-left: 0;
  }
}

.new-post__list {
  @include f.list-reset();
}

.new-post__item {
  display: flex;
  flex-direction: column;
  margin-bottom: 18px;
}

.new-post__label {
  margin: 0;
  padding: 5px;
}


.new-post__button {
  margin-left: auto;
  margin-right: auto;
  background-color: f.$color-background-first;
  border: 1px solid #000000;
}
