@use "../../common/forwarded.scss" as f;

.users__list {
  @include f.list-reset();
  width: 100%;
}

.users__title {
  display: block;
  padding-left: 20px;
  margin: 0 auto 0 0;
  font-size: 16px;
  line-height: 22px;
  text-align: start;
}

.users__item {
  display: flex;
  border-top: 1px solid #E0E0E0;
  width: 100%;
  padding: 6px 40px;
  margin: 0 -20px;

  & p {
    margin: 0;
  }
}

.users__item-name {
  width: 300px;
  margin-right: 16px;
}

.users__item-mail {
  width: 300px;
  margin-right: 16px;
}
