@use "../../common/forwarded.scss" as f;
.main-footer{
  background-color: f.$color-background-second;
}

.main-footer__wrapper {
  padding: 20px 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  box-sizing: border-box;
}

.main-footer__contact {
  margin-top: 0;
  margin-bottom: 12px;
}

.main-footer__logo-image {
  display: block;
}

@media (min-width: f.$tablet-width) {
  .main-footer__wrapper {
    flex-direction: row;
    padding: 6px 40px;
  }
}

@media (min-width: f.$desktop-width) {
  .main-footer__wrapper {
    max-width: f.$desktop-width;
    padding-left: 110px;
    padding-right: 110px;
  }
}
