{% extends 'base.html' %}
{% block content %}
  <main class="page__login login">
    <h1 class="login__title">Вход</h1>
    <a class="login__link" href="{% url 'register' %}">Зарегистрироваться</a>

    <form class="login__form form" method="post" name="form-login">
      {% csrf_token %}
      <label class="form__label" for="field-email">Почта</label>
      <input class="form__field" id="field-email" type="email" name="field-email" placeholder="example@elpmaxe.com"
             autocomplete="off" required>

      <label class="form__label" for="field-pass">Пароль</label>
      <input class="form__field" id="field-pass" type="password" name="field-pass" placeholder="••••••••"
             autocomplete="off" required>

      <button class="form__button button" type="submit">Войти</button>
    </form>
  </main>

{% endblock %}
