
<!DOCTYPE html>
{% load static %}
<html class="page" lang="ru">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>University</title>
  <link rel="stylesheet" href="{%static 'css/style.min.css' %}">
</head>

<body class="page__body">
<header class="main-header">
  <div class="main-header__wrapper">
    <a class="main-header__logo" href="{% url 'general' %}">
      <img class="main-header__logo-image" src="{% static 'img/main-logo.svg' %}" width="48" height="48" alt="Логотип">
    </a>
    <nav class="main-nav main-nav--closed main-nav--nojs">
      <button class="main-nav__toggle" type="button"><span class="visually-hidden">Открыть меню</span></button>
      <div class="main-nav__wrapper">
        <ul class="main-nav__list nav-list">
          <li class="nav-list__item">
            <a class="nav-list__button" href="#">
              Новости
            </a>
          </li>
          <li class="nav-list__item">
            <a class="nav-list__button" href="#">
              Расписание
            </a>
          </li>
          <li class="nav-list__item">
            <a class="nav-list__button" href="#">
              Мероприятия
            </a>
          </li>
          <li class="nav-list__item nav-list__item--right">
            <a class="nav-list__button nav-list__button--enter" href="#">
              Вход
            </a>
          </li>
        </ul>
      </div>
    </nav>
  </div>
</header>

<main class="page__login login">
  <h1 class="login__title">Регистрация</h1>
  <a class="login__link" href="#">Вход</a>

  <form class="login__form form" action="#" method="post">
    <label class="form__label" for="field-name">ФИО</label>
    <input class="form__field" id="field-name" type="email" name="field-name" placeholder="Иванов Иван Иванович"
           autocomplete="off" required>

    <label class="form__label" for="field-email">Почта</label>
    <input class="form__field" id="field-email" type="email" name="field-email" placeholder="example@elpmaxe.com"
           autocomplete="off" required>

    <label class="form__label" for="field-pass">Пароль</label>
    <input class="form__field" id="field-pass" type="password" name="field-pass" placeholder="••••••••"
           autocomplete="off" required>

    <label class="form__label" for="field-pass-repeat">Повторите пароль</label>
    <input class="form__field" id="field-pass-repeat" type="password" name="field-pass-repeat" placeholder="••••••••"
           autocomplete="off" required>

    <fieldset class="form__group form__group--type">
      <legend class="form__name form__name--type">Кто вы?</legend>
      <ul class="form__list">
        <li class="form__item">
          <label class="form__control form__control--radio control">
            <input class="control__input visually-hidden" type="radio" name="product-group" value="student"
                   checked>
            <span class="control__mark control__mark--radio"></span>
            Студент
          </label>
        </li>
        <li class="form__item">
          <label class="form__control form__control--radio control">
            <input class="control__input visually-hidden" type="radio" name="product-group" value="common-user">
            <span class="control__mark control__mark--radio"></span>
            Пользователь
          </label>
        </li>
        <li class="form__item">
          <label class="form__control form__control--radio control">
            <input class="control__input visually-hidden" type="radio" name="product-group" value="professor">
            <span class="control__mark control__mark--radio"></span>
            Преподаватель
          </label>
        </li>
      </ul>
    </fieldset>

    <button class="form__button button" type="submit">Создать</button>
  </form>
</main>

<footer class="main-footer">
  <div class="main-footer__wrapper">
    <ul class="main-footer__contact contact-list">
      <li class="contact-list__item">
        <a class="contact-list__link contact-list__link--phone" href="tel:+79999999999">
          <span class="contact-list__link-text">
            +7 (999) 987 65 43-21
          </span>
          <svg class="contact-list__icon contact-list__icon--phone-icon" width="16" height="20">
            <use href="img/sprite.svg#phone-icon"></use>
          </svg>
        </a>
      </li>
      <li class="contact-list__item">
        <a class="contact-list__link contact-list__link--mail" href="mailto:university@inheart.ru">
          <span class="contact-list__link-text">
            university@inheart.ru
          </span>
          <svg class="contact-list__icon contact-list__icon--mail-icon" width="24" height="18">
            <use href="img/sprite.svg#mail-icon"></use>
          </svg>
        </a>
      </li>
    </ul>
    <a class="main-footer__logo" href="index.html">
      <img class="main-footer__logo-image" src="img/main-logo.svg" width="60" height="60">
    </a>
  </div>
</footer>
<script src="js/menu-toggle.js"></script>
</body>
</html>
